@media (min-width: 769px) {
  /* A partir de 769px — layout desktop */
  .hamburger {
    display: none;
  }

    nav {
    display: flex;
    justify-content: space-between; /* separa logo à esquerda e menu à direita */
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
  }

  ul {
    position: static;
    height: auto;
    width: auto;
    background: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    transform: none;
    opacity: 1;
    transition: none;
  }
}
